@import "base";
@import "header";
// @import "main";
.h1 {
  font-family: "Amatic SC", cursive;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0px -1px 0 #000;
  padding-bottom: 60px;
}
label {
  font-family: "Amatic SC", cursive;
  text-transform: capitalize;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
}

.add-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}
input[type="text"],
input[type="file"] {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: "Amatic SC", cursive;
  text-transform: lowercase;
  letter-spacing: 2px;
  font-size: 20px;
}
input[type="text"] {
  background-color: $bg-collor;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 0px 10px $grey-collor;
}
input[type="submit"] {
  width: 100%;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 3px 10px 10px 0 rgba(black, 0.3);
  font-size: 26px;
}
input[type="submit"]:hover {
  transform: scale(1.1);
  box-shadow: 0 22px 44px 0 rgba(#fff, 0.3);
  text-shadow: 1px -1px 0 #fff;
  transition: 1s;
}
