@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Fuggles&family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: url("../images/body-bg.png") #fffaed fixed;
  background-size: contain;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #272725;
}

p,
ul,
li,
a,
h1,
body,
main {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

.btn {
  text-align: center;
  background-color: #dcd8cc;
  border-radius: 3px;
  font-family: "Amatic SC";
  cursor: pointer;
  border: none;
}

.base-size-content {
  width: 80vw;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 100px;
}

.shadow {
  text-shadow: 3px -2px 0 #fff;
}

.cursive {
  font-family: "Mr De Haviland", cursive;
}

.great {
  font-family: "Amatic SC", cursive;
}

.bg-yellow {
  background-color: rgba(233, 203, 117, 0.6);
  border-radius: 5px;
  padding: 14px;
  box-shadow: 0px 0px 10px #dcd8cc;
}

ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 20px auto;
}

ul.pagination li {
  display: inline;
}

ul.pagination li a {
  color: black;
  background-color: #fff9e7;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagination li:first-child a {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination li:last-child a {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

ul.pagination li a.active {
  background-color: #e9cb75;
  color: white;
  border: 1px solid #e9cb75;
}

ul.pagination li a:hover:not(.active) {
  background-color: #dcd8cc;
}

@media (max-width: 375px) {
  ul.pagination li a {
    padding: 6px 8px;
    font-size: 14px;
  }
}
.header {
  background-color: #fff9e7;
  position: fixed;
  width: 100%;
  top: 0;
  top: 0;
  z-index: 50;
}
.header_body {
  position: relative;
  padding: 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.header_list {
  display: flex;
  position: relative;
  z-index: 2;
}
.header_list li {
  margin: 0px 0px 0px 30px;
  box-shadow: 3px 10px 10px 0 rgba(0, 0, 0, 0.3);
  height: 50px;
  width: 170px;
  text-align: center;
  background-color: #dcd8cc;
  border-radius: 3px;
  font-family: "Amatic SC";
  cursor: pointer;
  border: none;
}
.header_link {
  font-size: 43px;
  letter-spacing: 5px;
  font-weight: 500;
}
.header_logo {
  position: relative;
  z-index: 3;
  flex: 0 0 65px;
}
.header_logo img {
  object-fit: cover;
  max-width: 100%;
  display: block;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff9e7;
  z-index: 2;
}

._link {
  font-size: 19px;
}

.header_list li:hover {
  transform: scale(1.2);
  box-shadow: 0 22px 44px 0 rgba(255, 255, 255, 0.3);
  text-shadow: 1px -1px 0 #fff;
  transition: 1s;
}

.footer {
  background-color: #dcd8cc;
  height: 150px;
  display: flex;
  flex: 0 0 auto;
  position: relative;
}

.info {
  width: 50%;
  align-self: center;
  padding-left: 5vw;
}

.info > a {
  position: relative;
  top: 0;
  font-family: "Mr De Haviland", cursive;
  color: #fff9e7;
  text-shadow: 3px -1px 1px #000;
  font-weight: 600;
  font-size: 40px;
}

.info > a::after {
  content: "";
  border-bottom: 1px solid #000;
  box-shadow: 2px 2px 0 #fff;
  width: 100px;
  position: absolute;
  bottom: 0px;
  left: -20px;
}

.item-footer {
  width: 34%;
  height: 75px;
  text-align: center;
  padding-top: 20px;
  font-family: "Fuggles", cursive;
  font-size: 30px;
  text-transform: capitalize;
  font-weight: bold;
}

.links {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Amatic SC", cursive;
  font-size: 46px;
}

.wrapp-circle {
  background-color: #e9cb75;
  border: 1px #8f7c4b solid;
  border-radius: 50px;
  color: #64593d;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 1024px) {
  .header_list li {
    height: 39px;
    width: 100px;
  }

  .header_link {
    font-size: 27px;
    letter-spacing: 1px;
    font-weight: 500;
  }

  ._link {
    font-size: 17px;
  }
}
.header_burger {
  display: none;
}

@media (max-width: 768px) {
  body.log {
    overflow-y: hidden;
  }

  .header_body {
    height: 50px;
  }

  .header_logo {
    flex: 0 0 40px;
  }

  .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header_burger::before,
.header_burger::after {
    content: "";
    background-color: #dcd8cc;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header_burger span {
    position: absolute;
    background-color: #dcd8cc;
    top: 9px;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease 0s;
  }

  .header_burger::before {
    top: 0;
  }

  .header_burger::after {
    bottom: 0;
  }

  .header_burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header_burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header_burger.active span {
    transform: scale(0);
  }

  .header_menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #dcd8cc;
    padding: 70px 10px 20px 10px;
    transition: all 0.3s ease 0s;
  }

  .header_menu.active {
    top: 0;
  }

  .header_list {
    display: block;
  }

  .header_list li {
    margin: 0px 20px 20px 0px;
  }

  .links.links-active {
    padding: 20px 0px 20px 0px;
    width: 100%;
    box-shadow: none;
    text-shadow: 3px -2px 0 #fff;
    text-align: right;
    border: none;
    border-bottom: 1px solid oldlace;
  }

  .footer {
    height: 60px;
  }

  .links {
    font-size: 20px;
  }

  .wrapp-circle {
    width: 50px;
    height: 50px;
  }

  .info a {
    font-size: 24px;
    text-shadow: 2px -1px 0 #fff;
  }

  .info > a::after {
    box-shadow: 1px 1px 0 #fff;
    width: 70px;
  }
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  width: 100vw;
}

.kreativ {
  background-color: rgba(250, 203, 79, 0.8);
  box-shadow: 0px 0px 10px 1px #dcd8cc;
  border-radius: 5px;
  margin-bottom: 200px;
  max-height: 500px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.kreativ_text:first-child, .kreativ_text:last-child {
  font-family: "Mr De Haviland", cursive;
  text-transform: capitalize;
  color: #fff9e7;
  text-shadow: 3px -4px 1px #000;
  letter-spacing: 16px;
  font-size: 250px;
  margin: -52px 0px -17px 0px;
}
.kreativ_text:nth-child(2) {
  font-family: "Amatic SC", cursive;
  text-transform: uppercase;
  font-size: 150px;
  margin: -53px 0px 0px 0px;
}

.actuall-wrapp {
  width: 80vw;
}

.list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
}

.actuall {
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.actuall_title-wrapp {
  background-image: url("../images/cloud.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 600px;
  height: 136px;
  text-align: center;
  margin-bottom: -35px;
  z-index: 8;
}
.actuall_list-wrapp {
  width: 100%;
  height: 100%;
}
.actuall_list {
  padding: 50px;
}
.actuall_list__item {
  width: 30%;
  height: 100%;
  padding: 0px 0px 10px 0px;
}
.actuall_list__item img {
  width: 100%;
  padding: 0px;
}
.actuall_title {
  position: relative;
  font-family: "Amatic SC", cursive;
  font-size: 100px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .kreativ {
    height: 400px;
  }

  .kreativ_text:first-child,
.kreativ_text:last-child {
    font-size: 180px;
  }

  .kreativ_text:nth-child(2) {
    font-size: 100px;
  }
}
@media (max-width: 768px) {
  .main {
    padding-top: 100px;
  }

  .kreativ {
    margin-bottom: 113px;
  }

  .kreativ {
    height: 200px;
  }

  .kreativ_text:first-child,
.kreativ_text:last-child {
    font-size: 80px;
  }

  .kreativ_text:nth-child(2) {
    font-size: 60px;
  }

  .actuall {
    margin-bottom: 100px;
  }

  .actuall_title-wrapp {
    width: 300px;
    height: 100px;
    margin-bottom: -50px;
  }

  .actuall_title {
    font-size: 40px;
    letter-spacing: 8px;
    top: 8px;
  }

  .actuall_list__item {
    width: 50%;
    padding: 0px 10px 10px 10px;
  }

  .actuall_list {
    padding: 20px;
  }

  .footer {
    height: 100px;
  }

  .links {
    font-size: 30px;
  }
}
@media (max-width: 510px) {
  .main {
    padding-top: 80px;
  }

  .list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .actuall_list__item {
    width: 70%;
    padding: 10px 0px 0px 0px;
  }

  .kreativ {
    margin-bottom: 80px;
  }
}

/*# sourceMappingURL=main.css.map */
